<div class="field">
  <%= f.attribute_fields do |a| %>
      <%= a.attribute_select only: [:name, :title] %>
  <% end %>
  <%= f.predicate_select only: [:cont, :not_cont, :eq, :not_eq, :blank, :null, :not_null] %>
  <%= f.value_fields do |v| %>
      <%= v.text_field :value %>
  <% end %>
  <a class="btn btn-danger btn-mini remove_fields" href="#"><i class="icon-minus"></i></a>
</div>