<%= form_for @factoid, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @factoid.errors.any? %>
    <div class="alert alert-error">
      <h4>This form contains <%= pluralize(@factoid.errors.count, "error") %>:</h4>
      <ul>
        <% @factoid.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'text_field factoids' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area factoids', :rows => 4 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :name, Factoid::NAMES, include_blank: 'None'%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tags, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tag_list, :class => "factoids" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                :back, :class => 'btn btn-danger' %>
  </div>
<% end %>
