<% @page_title = "Factoids" %>
<%= form_tag factoids_path, method: :get, :class => "form-inline" do %>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <p>
        <%= text_field_tag :search, params[:search], :autofocus => true %>
        <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
        <%= link_to "Clear Filters",factoids_path, :class => 'btn btn-default' %>
    </p>
<% end %>
<% if (@factoids.empty?) %>
    <div class="alert blank-search">
       <strong>Sorry!</strong> No factoids matched that search. Please <%= link_to "try again",factoids_path %>.
    </div>

<%else %>
    <table class="table table-colorized">
      <thead>
        <tr>
          <th width="40%"><%= sortable "title" %></th>
          <th width="30%"><%= "Tags" %></th>
          <th width="10%"><%= sortable "name" %></th>
          <th width="10%" nowrap="nowrap"><%= sortable "created_at" %></th>
          <th width="10%"><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @factoids.each do |factoid| %>
          <tr>
            <td ><%= link_to factoid.title, factoid_path(factoid) %></td>
            <td><% factoid.tags.each do |tag| %>
                  <%= link_to tag.name, tag_path(tag.name), :class => "btn btn-info btn-mini btn-index" %>
              <% end %></td>
            <td><%= link_to factoid.name, :controller => "factoids", :action => "index", :search => factoid.name %></td>
            <td nowrap="nowrap"><%= format_datetime(factoid.created_at) %></td>
            <td nowrap="nowrap">
              <%= link_to '<i class="btn btn-warning icon-pencil"></i>'.html_safe, edit_factoid_path(factoid) %>
              <%= link_to '<i class="btn btn-danger icon-remove"></i>'.html_safe,
                          factoid_path(factoid),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% end %>
<div class="pagination">
    <%= will_paginate @factoids %>
</div>
<%= link_to "Create new factoid", new_factoid_path, :class => 'btn btn-success' %>
