<div class="block-panel">
  <div class="block-panel__body">
    <%- model_class = Factoid -%>
    <div class="block-panel__header">
      <h2 class="block-panel__title"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h2>
    </div>

    <%= search_form_for @search do |f| %>
        <%= f.condition_fields do |c| %>
            <%= render "condition_fields", f: c%>
        <% end %>
        <p><%= link_to_add_fields "Add Conditions", f, :condition %>
        <div class="actions"><%= f.submit "Search", :class => 'btn btn-primary' %></div>
    <% end %>

    <table class="table table-colorized">
      <thead>
        <tr>
          <th><%= sort_link @search, :title, model_class.human_attribute_name(:title) %></th>
          <th><%= sort_link @search, :description, model_class.human_attribute_name(:description) %></th>
          <th><%= sort_link @search, :name, model_class.human_attribute_name(:name) %></th>
          <th><%= sort_link @search, :created_at, model_class.human_attribute_name(:created_at) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @factoids.each do |factoid| %>
          <tr>
            <td><%= link_to factoid.title, factoid_path(factoid) %></td>
            <td><%= truncate(factoid.description, :length =>100) %></td>
            <td><%= factoid.name %></td>
            <td><%= l factoid.created_at, format: :short %></td>
            <td>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_factoid_path(factoid), :class => 'btn btn-mini' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          factoid_path(factoid),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-mini btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_factoid_path,
                :class => 'btn btn-success' %>
  </div>
</div>