<li class="dropdown" id="menuLogin">
  <% if user_signed_in? %>
      <!--<div class="btn-group">-->
        <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">Logged in as <strong><%= full_name(current_user) %></strong><strong class="caret"></strong></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Settings", edit_user_registration_path %></li>
          <li class="divider"></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
  <%else %>
          <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">Login<strong class="caret"></strong></a>
          <div class="dropdown-menu" style="padding:17px;">
            <%= form_for(:user, :url => session_path(:user)) do |f| %>
                <%= f.text_field :email, :placeholder => 'Email address'  %>
                <%= f.password_field :password, :placeholder => 'Password' %>
                <%= f.submit 'Sign in', :class => "btn btn-primary" %><%= link_to 'Forgot password?', new_password_path(:user), :class => 'btn btn-link' %>
            <% end %>
          </div>
  <% end %>
</li>