<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title ? "#{@page_title} - Factoid Tracker" : "Factoid Tracker" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => 'layouts/navbar' %>
    <div class="container">
      <%= render 'layouts/messages' %>
      <div class="block-panel">
        <div class="block-panel__body">
          <div class="block-panel__header">
            <h2 class="block-panel__title"><%= @page_title %></h2>
          </div>
          <%= yield %>
        </div>
      </div>
    </div>
</body>
</html>
